/*.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 15px;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}*/

body {
    font-family: Arial, sans-serif;
    background-color: #060b4a;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #c7a022;
}

h2 {
    color: #f3f3f3;
    font-style: italic;
}
small{
    color: #f3f3f3;
}
form {
    display: inline-block;
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color:#f3f3f3;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/*Login Successful Page*/


.success-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.success-message {
    background-color: rgba(199, 160, 34, 0.1);
    border: 2px solid #c7a022;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

.success-message h3 {
    color: #c7a022;
    margin-bottom: 10px;
}

.success-message p {
    color: #f3f3f3;
    margin-bottom: 20px;
}

.success-message button {
    background-color: #c7a022;
    color: #060b4a;
    padding: 10px 30px;
    transition: all 0.3s ease;
}

.success-message button:hover {
    background-color: #f3f3f3;
    color: #060b4a;
}